site_name: Stunning Innovation
site_description: Knowledge sharing platform
site_author: Stunning Innovation Team
site_url: https://yyulia258.github.io/stunning-innovation/

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  
  font:
    text: Roboto
    code: Roboto Mono
  
  icon:
    repo: fontawesome/brands/github

repo_url: https://github.com/yyulia258/stunning-innovation
repo_name: yyulia258/stunning-innovation

nav:
  - Home: index.md
  - Blog:
    - blog/index.md
    - Posts:
      - Welcome Post: blog/posts/welcome.md
  - Contact: contact.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yyulia258/stunning-innovation
